{% extends "base.html" %}

{% block title %}Add New Dish{% endblock %}

{% block content %}
<h1>Add New Dish</h1>
<form action="{{ url_for('add_dish') }}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="ingredients">Ingredients:</label>
    <input type="text" id="ingredients" name="ingredients" required><br>
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required><br>
    <input type="submit" value="Add Dish">
</form>
{% endblock %}